@font-face {
  font-family: Arvo;
  src: url(/src/assets/arvo-regular.ttf);
}
html {
    scroll-behavior: smooth;
  }
  @media only screen and (max-width: 600px) {
    .project-grid{
      display:flex;
    flex-direction: column;
    }
  }

  @media only screen and (min-width: 601px){
    .project-grid{
      display: flex;
      flex-direction: row;
        justify-content: space-around;
  
  }}
*{
  font-family: Arvo;
}

